<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Christine Tsou</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="icon" class="fa fa-anchor">

    <!-- Theme CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="main-body-container">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <span class="light">cyt3ea</span>
                </a>
                <a class="navbar-brand page-scroll" href="#page-top">|</a>
                <a class="navbar-brand page-scroll" href="/2020_RESUME_CTSOU.pdf" target="_blank">
                  <span class="light">resume<i class="fa fa-download"></i></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#work-experience">Work Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bigtuna">BigTuna</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Archive</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="img-responsive" src="img/profile.png" alt="">
                        <h1>Christine Tsou</h1>
                        <br>
                        <ul class="list-inline banner-social-buttons">
                          <li>
                              <a href="https://github.com/cyt3ea" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/in/cyt3ea" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                          </li>
                          <li>
                              <a href="https://open.spotify.com/user/122087510" class="btn btn-default btn-lg"><i class="fa fa-spotify fa-fw"></i> <span class="network-name">Spotify</span></a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am currently a Software Engineer II at <a href="https://www.qualtrics.com/">Qualtrics</a> on the <a href="https://www.qualtrics.com/customer-experience/digital/">Digital Experience</a> team in Seattle, Washington. I graduated with a B.S. in Computer Science degree from the <a href="http://www.seas.virginia.edu/"> Engineering School </a> at the <a href="https://www.virginia.edu/">University of Virginia</a> in December 2017. </p>
                <p>My experiences are primarily around being a full stack engineer, where I have owned customer facing features in mobile and web application services from end-to-end. However, I am always looking for new opportunities to broaden my engineering skill-set.</p>
                <p>I love coding, ultimate frisbee, music, and trying out different sports. The <a href="http://www.seattlecascades.com/">Seattle Cascades</a> are my favorite professional ultimate team and I recently discovered a new profound love for surfing in Westport, Seattle. I've always loved listening to music my entire life - hence my long lost dream to produce music or be in a band. I'll play guitar, learn music theory, or dabble in a Digital Audio Workstation (DAW) in my free time. Other artists I <i class="fa fa-heart-o fa-fw"></i> include <a href="http://www.youngthegiant.com/">Young the Giant, <a href="https://phumviphurit.bandcamp.com/">Phum Viphurit</a>, <a href="http://ohwondermusic.com/">Oh Wonder</a>, and <a href="http://hellohonne.com/">HONNE</a>. </p>
            </div>
        </div>
    </section>

    <section id="work-experience">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 style="color:black;">Work Experience</h2>
                <hr style="border-color:black;"/>
                <h2></h2>
            </div>
        </div>
        <br> 
        
        <!-- Qualtrics -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="https://www.qualtrics.com/">
                    <img class="img-responsive" src="img/work/qualtrics.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <a href="https://www.qualtrics.com/"><h3>Qualtrics</h3></a>
                <h5>Software Engineer II | November 2019 - Now</h5>
                <h5>Software Engineer I | March 2018 - November 2019</h5>
                <p>I currently work on the Digital Experience team, which powers the <a href="https://www.qualtrics.com/core-xm/website-app-feedback-surveys/">Qualtrics Website and App Feedback</a> customer experience platform. It is a content distribution and targeting platform that enable our customers to engage users and collect feedback through digital mediums throughout their digital journey (i.e. website and mobile platforms).</p>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Microsoft -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="https://www.microsoft.com/en-us/">
                    <img class="img-responsive" src="img/work/microsoft.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <a href="https://www.microsoft.com/en-us/"><h3>Microsoft Corporation</h3></a>
                <h5>Software Engineer Intern | May - August 2017</h4>
                <p>Improve the processing and performance of dumping SQL Server debugging output into a Dump Data Warehouse used to investigate issues across multiple crash dumps. This allows for more efficient debugging and opens up the possibility of applying Machine Learning algorithms to better predict and prevent SQL Server crashes.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Miracle Messages -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="https://www.miraclemessages.org/">
                    <img class="img-responsive" src="img/work/miraclemessages.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <a href="https://www.miraclemessages.org/"><h3>Miracle Messages</h3></a>
                <h5>Android Mobile Application Developer | September 2016 - August 2017</h4>
                <p>Designed and built an Android mobile application to streamline and simplify the process for Miracle Messages volunteers recording messages of homeless individuals to their long lost loved ones. A prototype android mobile application can be found <a href="https://play.google.com/store/apps/details?id=com.miraclemessages">here.</a></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Microsoft -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="https://www.microsoft.com/en-us/">
                    <img class="img-responsive" src="img/work/microsoft.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <a href="https://www.microsoft.com/en-us/"><h3>Microsoft Corporation</h3></a>
                <h5>Explore Intern | May - August 2016</h4>
                <p>Designed and implemented a customer engagement tool to facilitate the process of collecting and managing customer feedback through a Django web application.</p>
            </div>
        </div>
        <!-- /.row -->

        <br>

        <!-- MITRE -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="https://www.mitre.org/">
                    <img class="img-responsive" src="img/work/mitre.png" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <a href="https://www.mitre.org/"><h3>The MITRE Corporation</h3></a>
                <h5>Software Engineer Intern | June - August 2015</h4>
                <p>Developed Quick runwaySimulator for <a href="https://www.faa.gov/airports/planning_capacity/runwaysimulator/">runwaySimulator</a> to expedite airport capacity analysis at hundreds of airports and explored current speech-to-text open source libraries for transcribing Live Air Traffic Control audio files.</p>
            </div>
        </div>
        <!-- /.row -->

        <br>

    </section>

    <!-- BigTuna Section -->
    <section id="bigtuna" class="content-section text-center" style="background-color: #82BEFF;">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="row" id="header">
              <img src="/img/bigtuna/bigtunalogowhite.png" height="100" width="100"/>
              <h2>BigTuna</h2>
            </div>
            <p>A proof of concept built using <a href="https://www.invisionapp.com/">InvisionApp</a> for an iOS Mobile Application</p>
            <!-- <hr style="border-color: white;"/> -->

            <div class="row">
              <div class="col-md-4" id="col-description">
                <i class="fa fa-comments fa-5x"></i>
                <br>
                <p>Collects restaurant data through in-app user reviews and existing ratings from Yelp, Google Maps, and TripAdvisor for a more holistic view</p>
              </div>
              <div class="col-md-4" id="col-description">
                <i class="fa fa-users fa-5x"></i>
                <br>
                <p>Provides a friendly user experience by organizing content in a way that focuses on what users actually want to know</p>
              </div>
              <div class="col-md-4" id="col-description">
                <i class="fa fa-map-marker fa-5x"></i>
                <br>
                <p>Using geolocation, user preferences, and social networking, the mobile app helps users find and discover places to eat</p>
              </div>
            </div>

            <div id="bigtunaCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#bigtunaCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#bigtunaCarousel" data-slide-to="1"></li>
                <li data-target="#bigtunaCarousel" data-slide-to="2"></li>
                <li data-target="#bigtunaCarousel" data-slide-to="3"></li>
                <li data-target="#bigtunaCarousel" data-slide-to="4"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/bigtuna/bigtuna1full.png" alt="Chania">
                </div>

                <div class="item">
                  <img src="img/bigtuna/bigtuna2full.png" alt="Chania">
                </div>

                <div class="item">
                  <img src="img/bigtuna/bigtuna3full.png" alt="Chania">
                </div>

                <div class="item">
                  <img src="img/bigtuna/bigtuna4full.png" alt="Chania">
                </div>

                <div class="item">
                  <img src="img/bigtuna/bigtuna5full.png" alt="Chania">
                </div>

              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#bigtunaCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#bigtunaCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <p style="margin-top:15px; font-size:12px;">If you're interested in learning more, reach out to me and I can share the full set of mocks with you!</p>


        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Feel free to contact me and say hello!</h2>
                <p><a href="mailto:cyt3ea@virginia.edu">cyt3ea@virginia.edu</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <!-- <p>"So many things are possible just as long as you don't know they're impossible." - Norton Juster, <i>The Phantom Tollbooth</i> </p> -->
        </div>
    </footer>
    </div>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black;">Archived Projects</h2>
                    <p style="color:black;">A small collection of projects done during my young and youthful days.</p>
                    <hr style="border-color:black;"/>
                    <h2></h2>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/thatplace.png" class="img-responsive" alt="">
                  </a>
                  <h2>that place</h2>
                  <h5>Save your favorite locations with a click</h5>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/quota.png" class="img-responsive" alt="">
                  </a>
                  <h2>Quota</h2>
                  <h5>Keeps track of your spending habits</h5>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/notedrop.png" class="img-responsive" alt="">
                  </a>
                  <h2>NoteDrop</h2>
                  <h5>Take notes using speech to text recognition</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/thecourseforum.png" class="img-responsive" alt="">
                  </a>
                  <h2>theCourseForum</h2>
                  <h5>Web Developer</h5>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/cloud9.png" class="img-responsive" alt="">
                  </a>
                  <h2>Cloud9</h2>
                  <h5>Itty bitty platformer</h5>
              </div>
              <div class="col-sm-4 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="caption">
                          <div class="caption-content">
                              <i class="fa fa-road fa-3x"></i>
                              <h3 style="padding-top:10px;"> Learn More </h3>
                          </div>
                      </div>
                      <img src="img/portfolio/capp.png" class="img-responsive" alt="">
                  </a>
                  <h2>CAPP</h2>
                  <h5>Personal mobile calendar for Android</h5>
              </div>
        </div>
    </section>

    <!-- Portfolio Modals -->

    <!-- Quota -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Simplify Budget Management</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">March 2016</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/quota/quota1.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/quota/quota2.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/quota/quota3.png" alt="Flower">
                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1>Quota</h1>
                <p>A web application that keeps track of your spending and alerts the user via text when a threshold in one's budget is reached. The application was built using Ruby on Rails, Capital One's Hackathon API <a href="http://api.reimaginebanking.com/">Nessie</a>, and <a href="https://www.twilio.com/">Twilio</a>.</p>
                <h6 > Github repo: <a href="https://github.com/theAmbientOrange/Quota">https://github.com/theAmbientOrange/Quota</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- NoteDrop -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reinvent Note Taking</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">February 2016</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                    <li data-target="#myCarousel2" data-slide-to="2"></li>
                    <li data-target="#myCarousel2" data-slide-to="3"></li>
                    <li data-target="#myCarousel2" data-slide-to="4"></li>
                    <li data-target="#myCarousel2" data-slide-to="5"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/notedrop/notedrop1.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/notedrop/notedrop2.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/notedrop/notedrop3.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/notedrop/notedrop4.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/notedrop/notedrop5.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/notedrop/notedrop6.png" alt="Flower">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1>NoteDrop</h1>
                <p>A mobile application that takes user voice input and converts speech to formatted text that can be saved as editable notes. NoteDrop allows for flexible voice command functionality. The application was built using Android Studio and Google's <a href="https://developer.android.com/reference/android/speech/SpeechRecognizer.html">SpeechRecognizer</a>.</p>
                <h6 > Github repo: <a href="https://github.com/cyt3ea/notedrop">https://github.com/cyt3ea/notedrop</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- theCourseForum -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Connecting UVa Students to Course Information and Reviews</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">February 2015 - Present</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel3" data-slide-to="1"></li>
                    <li data-target="#myCarousel3" data-slide-to="2"></li>
                    <li data-target="#myCarousel3" data-slide-to="3"></li>
                    <li data-target="#myCarousel3" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/thecourseforum/tcf1.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thecourseforum/tcf2.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thecourseforum/tcf3.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thecourseforum/tcf4.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thecourseforum/tcf5.png" alt="Flower">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1><a href="http://thecourseforum.com/">theCourseForum</a></h1>
                <p>A website made by students for students, serving as a centralized location for course information and reviews written by students. Over 85% of the student body uses theCourseForum to evaluate their course options at the University of Virginia. The application was built using Ruby on Rails.</p>
                <h6 > Github repo: <a href="https://github.com/thecourseforum/theCourseForum">https://github.com/thecourseforum/theCourseForum</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Cloud9 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Android Platformer</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">August 2015</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel4" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel4" data-slide-to="1"></li>
                    <li data-target="#myCarousel4" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/cloud9/cloud91.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/cloud9/cloud92.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/cloud9/cloud93.png" alt="Flower">
                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel4" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1>Cloud9</h1>
                <p>A fun platformer game made one summer. Tap the screen, swipe left, and swipe right to move; land on the clouds to go up, up into space!</p>
                <p>This application is made for Android using Android Studio.</p>
                <h6 > Github repo: <a href="https://github.com/cyt3ea/Cloud9">https://github.com/cyt3ea/Cloud9</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CAPP -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Personalized Android Calendar Application</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">Winter 2014 - Summer 2015</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel5" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel5" data-slide-to="1"></li>
                    <li data-target="#myCarousel5" data-slide-to="2"></li>
                    <li data-target="#myCarousel5" data-slide-to="3"></li>
                    <li data-target="#myCarousel5" data-slide-to="4"></li>
                    <li data-target="#myCarousel5" data-slide-to="5"></li>
                    <li data-target="#myCarousel5" data-slide-to="6"></li>
                    <li data-target="#myCarousel5" data-slide-to="7"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/capp/capp1.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp2.png" alt="Chania">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp3.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp4.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp5.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp6.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp7.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/capp/capp8.png" alt="Flower">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel5" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel5" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1>CAPP</h1>
                <p>Short for calendar application, CAPP is a personalized Andorid calendar application fully equipped with event creation, calendar filtering, and day/week/month/year calendar viewing capabilities. The application was built using Android Studio.</p>
                <h6 > Github repo: <a href="https://github.com/cyt3ea/CAPP">https://github.com/cyt3ea/CAPP</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        
    <!-- that place -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Modal -->
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Remember All Your Favorite Places</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12" id="project-date">
                <p style="text-align:center;">November 2016</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="myCarousel6" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel6" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel6" data-slide-to="1"></li>
                    <li data-target="#myCarousel6" data-slide-to="2"></li>
                    <li data-target="#myCarousel6" data-slide-to="3"></li>
                    <li data-target="#myCarousel6" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="img/portfolio/thatplace/thatplace0.jpg" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thatplace/thatplace1.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thatplace/thatplace2.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thatplace/thatplace3.png" alt="Flower">
                    </div>

                    <div class="item">
                      <img src="img/portfolio/thatplace/thatplace4.png" alt="Flower">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel6" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel6" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div id='modal-text' class="col-md-6">
                <h1>that place</h1>
                <p>With a touch of a button, the current location of the user can be saved onto your phone using a Pebble Time smartwatch. A list of saved locations can be accessed via an Android Application and the Pebble Time can also facilitate navigation in the Android Application. In case you run into dangerous perils on your journey to that place, you can also send your current location to a loved one in case of an emergency. This application was built using Android Studio and CloudPebble.</p>
                <h6 > Github repo: <a href="https://github.com/cyt3ea/thatplace">https://github.com/cyt3ea/thatplace</a> </h6>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- jQuery -->
    <script src="jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
